<footer>
  <div class="contact-info">
    <p>{{ "footer.contact" | translate }}</p>
  </div>
  <div class="language-switcher">
    <button (click)="switchLanguage('en')" class="button-switcher">EN</button>
    <button (click)="switchLanguage('es')" class="button-switcher">ES</button>
  </div>
  <div class="social-icons">
    <a href="#"><img src="assets/facebook.svg" alt="Facebook" /></a>
    <a href="#"><img src="assets/twitter.svg" alt="Twitter" /></a>
    <a href="#"><img src="assets/instagram.svg" alt="Instagram" /></a>
    <a href="#"><img src="assets/youtube.svg" alt="YouTube" /></a>
  </div>

</footer>
