<app-header/>
<div class="subscription-container">
  <h1>PLANES</h1>
  <div class="plans">
    <div class="plan">
      <h2>Nivel 1</h2>
      <h3>$0/mo</h3>
      <ul>
        <li>Acceso a una sección básica de libros, artículos y otros contenidos</li>
        <li>Ver los comentarios más destacados y calificación dejados por cada libro</li>
        <li>Marcar, resaltar y dejar notas</li>
      </ul>
      <button>Already using</button>
    </div>
    <div class="plan">
      <h2>Nivel 2</h2>
      <h3>$9.99/mo</h3>
      <ul>
        <li>Acceso a foros de un libro en específico</li>
        <li>Recomendaciones de libros o artículos según géneros leídos</li>
        <li>Comentar y calificar libros</li>
      </ul>
      <button>Buy now</button>
    </div>
    <div class="plan">
      <h2>Nivel 3</h2>
      <h3>$29.99/mo</h3>
      <ul>
        <li>Poder hablar con el autor del libro, solo aquellos autores que deseen</li>
        <li>Descuentos exclusivos en libros solo para miembros</li>
        <li>Preventa exclusiva y acceso anticipado a los nuevos títulos de libros</li>
      </ul>
      <button>Buy now</button>
    </div>
  </div>
</div>
<app-footer/>
