<div class="subscription-container">
  <h2>{{ "subscription.title" | translate }}</h2>
  <div class="plans">
    <div class="plan">
      <h2 class="subscription-level">{{ "subscription.level1.title" | translate }}</h2>
      <h3>{{ "subscription.level1.price" | translate }}</h3>
      <ul>
        <li>{{ "subscription.level1.feature1" | translate }}</li>
        <li>{{ "subscription.level1.feature2" | translate }}</li>
        <li>{{ "subscription.level1.feature3" | translate }}</li>
      </ul>
      <button (click)="changeSubscriptionLevel('1')">{{ "subscription.buyButton" | translate }}</button>
    </div>
    <div class="plan">
      <h2 class="subscription-level">{{ "subscription.level2.title" | translate }}</h2>
      <h3>{{ "subscription.level2.price" | translate }}</h3>
      <ul>
        <li>{{ "subscription.level2.feature1" | translate }}</li>
        <li>{{ "subscription.level2.feature2" | translate }}</li>
        <li>{{ "subscription.level2.feature3" | translate }}</li>
      </ul>
      <button (click)="changeSubscriptionLevel('2')">{{ "subscription.buyButton" | translate }}</button>
    </div>
    <div class="plan">
      <h2 class="subscription-level">{{ "subscription.level3.title" | translate }}</h2>
      <h3>{{ "subscription.level3.price" | translate }}</h3>
      <ul>
        <li>{{ "subscription.level3.feature1" | translate }}</li>
        <li>{{ "subscription.level3.feature2" | translate }}</li>
        <li>{{ "subscription.level3.feature3" | translate }}</li>
      </ul>
      <button (click)="changeSubscriptionLevel('3')">{{ "subscription.buyButton" | translate }}</button>
    </div>
  </div>
</div>
