.library-container {
  flex: 1;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column h2 {
  margin-top: 10px;
  text-align: center;
}

.search-container {
  width: 100%;
  max-width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #ddd;
  margin: 0 auto 20px;
  padding: 0 10px;
  border-radius: 5px;
}

.search-book-input {
  flex: 1;
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 5px;
}

.search-book-input:focus {
  outline: none;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.filter {
  text-align: center;
}

.select-categories,
.order-button {
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.order-button {
  background-color: #444;
  color: white;
}

.order-button:hover {
  background-color: #333;
}

.book-list {
  margin: 30px 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-content: center;
}

.book-list li {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-title {
  font-weight: 600;
  cursor: pointer;
}

.book-title:hover {
  text-decoration: underline;
}

.button-save-book,
.remove-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.button-save-book {
  background-color: #444;
  color: white;
}

.button-save-book:hover {
  background-color: #333;
}

.remove-button {
  background-color: #e74c3c;
  color: white;
}

.remove-button:hover {
  background-color: #c0392b;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination-controls button {
  background-color: #444;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-controls button:hover {
  background-color: #333;
}

.pagination-controls span {
  font-size: 0.9rem;
}

@media (max-width: 480px) {
  .order-button,
  .select-categories {
    font-size: 14px;
    padding: 6px;
  }

  .book-title {
    font-size: 14px;
  }

  .pagination-controls span {
    font-size: 0.8rem;
  }
}
