<header>
  <div class="logo-title">
    <img src="assets/Logo.png" alt="Feather Book Logo" class="logo" />
    <a href="/"
      ><span class="title">{{ "header.title" | translate }}</span></a
    >
  </div>

  <nav [class.open]="menuOpen">
    <a href="/library">{{ "header.library" | translate }}</a>
    <a href="/subscription">{{ "header.subscription" | translate }}</a>
  </nav>

  <div class="hamburger-menu" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="auth-buttons">
    <ng-container *ngIf="!isAuthenticated">
      <a href="/login" class="btn">{{ "header.login" | translate }}</a>
      <a href="/register" class="btn">{{ "header.register" | translate }}</a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated">
      <span class="welcome-user"
        >{{ "header.welcome" | translate }}
        <a href="/profile" class="profile-button">{{ username }}</a>
      </span>
      <button class="btn logout" (click)="logout()">
        {{ "header.logout" | translate }}
      </button>
    </ng-container>
  </div>
</header>
