<header>
  <div class="logo-title">
    <img src="assets/Logo.png" alt="Feather Book Logo" class="logo" />
    <a href="/"><span class="title">FEATHER BOOK</span></a>
  </div>

  <nav [class.open]="menuOpen">
    <a href="/biblioteca">Biblioteca</a>
    <a href="/chat-con-autores">Chat con autores</a>
    <a href="/suscripcion">Suscripción</a>
  </nav>

  <div class="hamburger-menu" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="search-container">
    <input type="text" placeholder="¿Qué libro buscas?" />
    <button>
      <img src="assets/search-icon.png" alt="Buscar" class="search-icon"/>
    </button>
  </div>
</header>
