<header>
  <div class="logo-title-book">
    <a href="/">
      <img src="assets/back-button.png" alt="Back Button" class="back_button" />
    </a>
    <h2 class="header-title">FEATHER BOOK</h2>
  </div>
</header>

<main class="forum-container">
  <h2 class="forum-title">Foro</h2>
  <div class="forum">
    <div class="message">
      <img src="assets/user-icon.png" alt="User Icon" class="user-icon" />
      <input type="text" class="message-input" placeholder="Mensaje del usuario" />
    </div>
    <div class="message">
      <input type="text" class="message-input" placeholder="Mensaje del usuario" />
      <img src="assets/user-icon.png" alt="User Icon" class="user-icon right" />
    </div>
  </div>
  <div class="message-send">
    <input type="text" placeholder="Escribe un mensaje" class="send-input"/>
    <button class="send-button">Enviar</button>
  </div>
</main>
