<div class="book-detail" *ngIf="book">
  <div class="book-info">
    <h2 class="book-title">{{ book.name }}</h2>
    <div class="book-read">
      <img
        src="https://picsum.photos/400/550"
        alt="{{ book.name }}"
        class="book-image"
      />
      <a (click)="readBook()" class="button button-read">{{
        "bookPreview.read" | translate
      }}</a>
    </div>
  </div>

  <div class="book-information-container">
    <div class="book-description-container">
      <p class="book-description">{{ book.summary }}</p>
    </div>
    <div class="book-description-container">
      <app-rating [rating]="book.totalScore ?? 0"></app-rating>
      <app-book-reviews [reviews]="book.reviews"></app-book-reviews>
    </div>
    <div class="review-form">
      <h3>{{
        "bookPreview.form.title" | translate
      }}</h3>
      <textarea
        [(ngModel)]="newReview.comment"
        [placeholder]='"bookPreview.form.comment" | translate'
        maxlength="100"
        required
      ></textarea>
      <input
      type="number"
      [(ngModel)]="newReview.score"
      (input)="checkScoreLimit()"
      min="1"
      max="10"
      [placeholder]='"bookPreview.form.rating" | translate'
      required/>
      <button
        (click)="submitReview()"
        [disabled]="!newReview.comment || !newReview.score"
      >
      {{
        "bookPreview.form.send" | translate
      }}
      </button>
    </div>
  </div>
</div>
