.book-detail {
  padding: 0;
  margin: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.book-title {
  font-size: 2rem;
  font-weight: 900;
  margin: 20px 10px 0 10px;
  text-align: center;
}

.book-read {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book-image {
  width: clamp(150px, 90%, 500px);
  height: auto;
  max-height: 550px;
  margin: 10px;
  border: 3px solid #48e;
  object-fit: cover;
}

.button {
  width: fit-content;
  font-family: inherit;
  background-color: #aaa;
  border-radius: 5px;
  font-weight: 900;
  transition: opacity 0.4s;
  padding: 10px 20px;
  margin-top: 10px;
}

.button:hover {
  opacity: 0.7;
}

.button-read {
  font-size: 1rem;
  letter-spacing: 1px;
  color: inherit;
  cursor: pointer;
}

.book-information-container {
  margin-top: 20px;
  padding: 20px;
}

.book-description-container {
  font-size: 1rem;
  background-color: #aaa;
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0;
  position: relative;
}

.review-form {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}

.review-form h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

textarea,
input,
button {
  font-family: inherit;
}

textarea {
  width: 100%;
  max-width: 400px;
  height: 100px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #000;
  resize: none;
}

input {
  width: 100%;
  max-width: 400px;
  height: 35px;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #000;
}

button {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #48e;
  color: #ddd;
  border: 1px solid #000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #37d;
  color: #fff;
}

/* Estilos responsivos */
@media screen and (max-width: 970px) {
  .book-detail {
    display: flex;
    flex-direction: column;
  }
  .book-info {
    width: 100%;
  }
  .book-title {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  .book-image {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
  .button-read {
    font-size: 1rem;
  }
  .book-information-container,
  .review-form {
    padding: 10px;
  }
}
