<main>
  <div class="carousel">

    <img src="assets/don-quijote.png" alt="Don Quijote" class="carousel-image" />

  </div>

  <div class="book-section">
    <div class="book-card">
      <img src="assets/harry-potter.png" alt="Harry Potter" />
      <p>Harry Potter</p>
    </div>
    <div class="book-card">
      <img src="assets/game-of-thrones.png" alt="Games of thrones" />
      <p>Juego de Tronos</p>
    </div>
    <div class="book-card">
      <img src="assets/hunger-games.png" alt="Hunger Games" />
      <p>Juegos del Hambre</p>
    </div>
  </div>
</main>
