<main>
  <div class="carousel">
    <a href="https://frontend-featherbook.web.app/book/93v23dqdlm" class="book-link">
      <img src="assets/don-quijote.png" alt="Don Quijote" class="carousel-image" />
    </a>
  </div>

  <div class="book-section">
    <div class="book-card">
      <a href="https://frontend-featherbook.web.app/book/348d32hpylpf" class="book-link">
        <img src="assets/harry-potter.png" alt="Harry Potter" />
        <p>Harry Potter</p>
      </a>
    </div>
    <div class="book-card">
      <a href="https://frontend-featherbook.web.app/book/234k123jdtcdhyf1" class="book-link">
        <img src="assets/game-of-thrones.png" alt="Games of thrones" />
        <p>Juego de Tronos</p>
      </a>
    </div>
    <div class="book-card">
      <a href="https://frontend-featherbook.web.app/book/324df123ljdh" class="book-link">
        <img src="assets/hunger-games.png" alt="Hunger Games" />
        <p>Juegos del Hambre</p>
      </a>
    </div>
  </div>
</main>
