<app-header/>
<div class="profile-container">
  <div class="profile-card">
    <img src="assets/profile-photo.png" alt="Emma Ríos" class="Emma Ríos" />
    <div class="profile-name">Emma Ríos</div>
  </div>

  <div class="profile-info">
    <p><strong>Correo:</strong> <span class="info-box">emmarios&#64;gmail.com</span></p>
    <p><strong>Nivel de suscripción:</strong> <span class="info-box">Nivel 1</span></p>

    <div class="profile-links">
      <button class="profile-button">Historial de libros leídos <span>&#9654;</span></button>
      <button class="profile-button">Libros subidos <span>&#9654;</span></button>
    </div>
  </div>
</div>
<app-footer/>
